<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace:名称空间
-->
<mapper namespace="Mapper.UserMapper">
    <!--通过起别名的方式，在mybatis-config.xml中配置
    <typeAliases>
        <package name="Pojo"/>
    </typeAliases>
    使resultType="User"而不用="Pojo.User"
    不区分大小写，user也可以
    -->
    <!--statement-->
    <select id="selectAll" resultType="User">
        SELECT * FROM tb_user;
    </select>

    <select id="selectById" resultType="User">
        SELECT * FROM tb_user WHERE id = #{id};
    </select>
</mapper>